<div class="field{% if submitted and field.name in invalid %} error{% endif %}">
    {% if field.title %}<label for="{{ field.name }}">{{ field.title }}{% if field.required %} <em class="required">*</em>{% endif %}</label>{% endif %}
    <textarea name="{{ field.name }}" id="{{ field.name }}"{% if field.rows > 0 %} rows="{{ field.rows }}"{% endif %}{% if field.cols > 0 %} cols="{{ field.cols }}"{% endif %}{% if field.class %} class="{{ field.class }}"{% endif %}>{{ submitted ? data[field.name]|e : field.value|e }}</textarea>
    {% if field.description %}<span class="description">{{ field.description }}</span>{% endif %}
    {% if field.errorText and submitted and field.name in invalid %}<span class="error-text">{{ field.errorText }}</span>{% endif %}
</div>
