<div class="field-group field{% if submitted and field.name in invalid %} error{% endif %}">
    <label>{% if field.title %}{{ field.title }}{% if field.required %} <em class="required">*</em>{% endif %}{% else %}&nbsp;{% endif %}</label>
    <div class="controlset">
{% for value, caption in field.options %}
        <div>
            <input type="radio" name="{{ field.name }}" id="{{ field.name~'_'~loop.index }}" value="{{ value }}"{% if value == (submitted ? data[field.name] : field.value) %} checked="checked"{% endif %}{% if field.class %} class="{{ field.class }}"{% endif %} />
            <label for="{{ field.name~'_'~loop.index }}">{{ caption }}</label>
        </div>
{% endfor %}
    </div>
    {% if field.description %}<span class="description">{{ field.description }}</span>{% endif %}
    {% if field.errorText and submitted and field.name in invalid %}<span class="error-text">{{ field.errorText }}</span>{% endif %}
</div>
