<!DOCTYPE html>
<html>
    <head>
        <title>{{ PAGE_TITLE }}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
{% for tag in METATAGS %}
        <meta name="{{ tag.name }}" content="{{ tag.content }}" />
{% endfor %}
{% for tag in LINKTAGS %}
        <link rel="{{ tag.rel }}" href="{{ tag.href }}" type="{{ tag.type }}" />
{% endfor %}
        <link rel="stylesheet" href="{{ file('css/style.css') }}" type="text/css" />
{% for tag in STYLESHEETS %}
        <link rel="stylesheet" href="{{ tag.url }}" type="text/css" media="{{ tag.media }}" />
{% endfor %}
{% for tag in JAVASCRIPTS %}
        <script src="{{ tag.url }}" type="{{ tag.type }}"></script>
{% endfor %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="title">Infernum</div>
            </div>
            <div id="content">
{% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">
            <span class="left">Powered by <a href="http://github.com/iceflame-net/Infernum">Infernum</a></span>
            <span class="right">Copyright &copy; {{ 'now'|date('Y') }} Infernum</span>
        </div>
    </body>
</html>