<div class="form-group{% if submitted and field.name in invalid %} has-error{% endif %}">
    <label for="{{ field.name }}">{{ field.title }}{% if field.required %} <em class="required">*</em>{% endif %}</label>
    <input type="{{ field.scheme ?: 'text' }}" name="{{ field.name }}" id="{{ field.name }}"{% if field.value or submitted %} value="{{ submitted ? data[field.name]|e : field.value|e }}"{% endif %}{% if field.size %} size="{{ field.size }}"{% endif %}{% if field.maxLength %} maxlength="{{ field.maxLength }}"{% endif %} class="{{ field.class|default('form-control') }}" />
    {% if field.errorText and submitted and field.name in invalid %}<p class="help-block error-text">{{ field.errorText }}</p>{% endif %}
    {% if field.description %}<p class="help-block">{{ field.description }}</p>{% endif %}
</div>
